.hero {
    background: url("../../../assets/images/chef-preparing-recipeMODIFICADO.webp") center;
    background-size: cover;
    height: 700px;
    width: 100%;
    font-family: Roboto, serif;
    opacity: 1.3;

}

.hero-container {
    color: #ffffff;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.hero-title {
    margin-top: 10%;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero-container h5 {
    text-align: center;
    letter-spacing: 5px;

}

.form {
    margin: 0 auto;
    width: 60%;

}