<div class="white-box"></div>
<div class="container">
    <!-- <img ngSrc="assets/images/admin.webp" alt="icono" height="300" width="500"> -->
    <h1>Bienvenido al Menú del Administrador</h1>
    <div class="wrapper">
        <!-- <a class="btn btn-outline-warning" style="font-size: 20px; font-weight: bold;color: #000000A6;width: 300px;"
            routerLink="/recipes-admin">Gestión de Recetas</a>
        <a class="btn btn-outline-warning" style="font-size: 20px; font-weight: bold;color: #000000A6;width: 300px;"
            routerLink="/ingredients-admin">Gestión de Ingredientes</a>
        <a class="btn btn-outline-warning" style="font-size: 20px; font-weight: bold;color: #000000A6;width: 300px;"
            routerLink="/category-admin">Gestión de Categorías</a>
        <a class="btn btn-outline-warning" style="font-size: 20px; font-weight: bold;color: #000000A6; width: 300px;"
            routerLink="/user-admin">Gestión de Usuarios</a>
        <a class="btn btn-outline-warning" style="font-size: 20px; font-weight: bold;color: #000000A6; width: 300px;"
            routerLink="/comment-admin">Gestión de Comentarios</a> -->


        <div id="btn-1" class="custom-button" style="background-image: url('assets/images/admin.webp');"
            [routerLink]="['/recipes-admin']">Recetas</div>
        <div id="btn-2" class="custom-button" style="background-image: url('assets/images/admin.webp');"
            [routerLink]="['/ingredients-admin']">Ingredientes</div>
        <div id="btn-3" class="custom-button" style="background-image: url('assets/images/admin.webp');"
            [routerLink]="['/category-admin']">Categorías</div>
        <div id="btn-4" class="custom-button" style="background-image: url('assets/images/admin.webp');"
            [routerLink]="['/user-admin']">Usuarios</div>
        <div id="btn-5" class="custom-button" style="background-image: url('assets/images/admin.webp');"
            [routerLink]="['/comment-admin']">Comentarios</div>


    </div>
</div>