<div id="top" class="white-box"></div>
<div class="hero">
  <div class="hero-container">
    <h1 class="hero-title">ÚNETE A LA COMUNIDAD DE COCINILLAS!!!</h1>
    <h5>Miles de recetas. Una fuente de inspiración. Una comunidad creciente.</h5>
    <a routerLink="/signup" class="btn-custom">REGÍSTRATE</a>
  </div>
</div>

<div class="categories mt-5">
  <h2 class="home-titles">CATEGORÍAS</h2>
  <div class="categories-cards">
    <div class="cat-card">
      <img ngSrc="assets/images/home/desayuno.jpg" height="150" width="150" alt="imagen desayuno">
      <h5>DESAYUNO</h5>
    </div>
    <div class="cat-card">
      <img ngSrc="assets/images/home/almuerzo.jpg" height="150" width="150" alt="imagen almuerzo">
      <h5>ALMUERZO</h5>
    </div>
    <div class="cat-card">
      <img ngSrc="assets/images/home/merienda.jpg" height="150" width="150" alt="imagen merienda">
      <h5>MERIENDA</h5>
    </div>
    <div class="cat-card">
      <img ngSrc="assets/images/home/cena.jpg" height="150" width="150" alt="imagen cena">
      <h5>CENA</h5>
    </div>
    <div class="cat-card">
      <img ngSrc="assets/images/home/postre.jpg" height="150" width="150" alt="imagen postre">
      <h5>POSTRE</h5>
    </div>
  </div>
</div>

<div class="mission-container mt-5">
  <div class="mission pt-5 pb-5">
    <h2 class="home-titles">NUESTRA MISIÓN</h2>
    <div class="mission-section">
      <div class="mission-section-text-wrapper">
        <h3>Unidos por el Amor a la Cocina</h3>
        <p>En nuestra comunidad, nos unimos para celebrar nuestra pasión compartida por la cocina. Desde entusiastas
          novatos hasta chefs experimentados, todos son bienvenidos a compartir recetas, consejos y experiencias
          culinarias. Juntos, aprendemos, nos inspiramos y creamos momentos inolvidables alrededor de la mesa.</p>
      </div>
      <img ngSrc="assets/images/home/man-taking-selfie-with-kitchen-bowl.jpg" height="350" width="350" alt="imagen cena"
      >
    </div>
    <div class="mission-section">
      <img ngSrc="assets/images/home/medium-shot-family-making-dough.jpg" height="350" width="350" alt="imagen cena"
      >
      <div class="mission-section-text-wrapper">
        <h3>Cocina en Familia: Creando Vínculos y Recuerdos Duraderos</h3>
        <p>Creemos en el poder de cocinar en familia como una forma de unirnos y crear recuerdos duraderos. Desde las
          risas en la cocina hasta las deliciosas comidas compartidas, cocinar con nuestros hijos no solo fomenta
          habilidades culinarias, sino que también fortalece los lazos familiares y enseña importantes lecciones sobre
          trabajo en equipo y creatividad.</p>
      </div>
    </div>
    <div class="mission-section">
      <div class="mission-section-text-wrapper">
        <h3>Un Mundo de Sabores en un Solo Lugar</h3>
        <p>Nuestro repositorio de recetas está diseñado para satisfacer todos los gustos y preferencias culinarias.
          Desde platos tradicionales hasta creaciones innovadoras, aquí encontrarás una amplia gama de recetas
          cuidadosamente seleccionadas para inspirarte en la cocina. Explora, experimenta y descubre nuevas formas de
          deleitar tu paladar, todo en un solo lugar.</p>
      </div>
      <img ngSrc="assets/images/home/couple-having-fun-while-preparing-dinner.jpg" height="350" width="350"
           alt="imagen cena">
    </div>
    <div class="mission-section">
      <img ngSrc="assets/images/home/various-vegetables-fruits-laid-out-circle-dark-background.jpg" height="350"
           width="350" alt="imagen cena"
           priority>
      <div class="mission-section-text-wrapper">
        <h3>Reducir el Desperdicio de Alimentos: Nuestro Compromiso</h3>
        <p>¡Únete a nuestra comunidad comprometida con la sostenibilidad! En SaborEnLaRed, creemos en el poder de la
          cocina para crear un cambio positivo en el mundo. Compartimos recetas, consejos y recursos para ayudar a
          nuestros miembros a cocinar de manera más sostenible y reducir el desperdicio de alimentos en sus hogares.</p>
      </div>
    </div>
  </div>
</div>

<div class="partners mt-5 mb-5">
  <h2 class="home-titles">NUESTROS PATROCINADORES</h2>
  <div class="partners-cards">
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/activia.png" height="150" width="150" alt="imagen desayuno">

    </div>
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/bimbo.png" height="150" width="150" alt="imagen almuerzo">

    </div>
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/danone.png" height="150" width="150" alt="imagen merienda">

    </div>
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/kellogs.png" height="150" width="150" alt="imagen cena">

    </div>
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/el%20pozo.png" height="150" width="150" alt="imagen postre">

    </div>
    <div class="partner-card">
      <img ngSrc="assets/images/home/partenrs/knorr.png" height="150" width="150" alt="imagen postre">

    </div>
  </div>
  <a href="#top" class="position-fixed bottom-0 end-0 m-4 btn boton-subir btn-lg focusButtonTop" style="background-color: #54ad22; color: #ffff;">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>


