<nav class="navbar navbar-expand-sm navbar-light fixed-top" id="neubar">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/"><img ngSrc="assets/images/vertical-logo.png" width="150" height="150" alt="logo" priority/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">

        <li class="nav-item">
          <a class="nav-link mx-2 bt" aria-current="page" href="#" routerLink="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 bt" href="#" routerLink="recipes">RECETAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 bt" href="#" routerLink="/" fragment="about-div">SOBRE NOSOTROS</a>
        </li>
      </ul>
      <div class="nav-item" style="margin-top: 5px;margin-left: 13%">
        <a *ngIf="!userLoginOn"  class="btn btn-close-white" style="font-size: 20px; font-weight: bold;color: #000000A6;" routerLink="/login" >Iniciar sesión</a>
        <a *ngIf="userLoginOn"  class="btn btn-close-white" style="font-size: 20px; font-weight: bold;color: #000000A6;" (click)="logout()" >Cerrar sesión</a>
        <a *ngIf="userLoginOn && currentUser && currentUser.rol==='NORMAL_USER'" class="btn btn-custom"  style="font-size: 20px;" routerLink="/perfil-user">Mi Perfil: {{ currentUser.userName }}</a>
        <a *ngIf="userLoginOn && currentUser && currentUser.rol==='ADMIN'" class="btn btn-dark"  style="font-size: 20px;" routerLink="/admin-menu">MENU ADMIN</a>
        <a *ngIf="!userLoginOn"  style="margin-left: 5px" class="btn-custom" routerLink="/signup">REGÍSTRATE</a>
      </div>
    </div>
  </div>
</nav>

