#neubar {
  background: #ffffff;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4)
}

.nav-item a:hover {
  font-size: 20px;
  border-radius: 6px;
  background: linear-gradient(145deg, #8be159, #68f119);
  box-shadow: 4px 4px 8px #ddc1a0,
  -4px -4px 8px #f7e5cc;
}

#neubar .dropdown-menu a:hover {
  color: #454545
}

#neubar .nav-item {
  font-size: 20px;
  margin: auto 4px;
}

#neubar a {

  padding-left: 12px;
  padding-right: 12px;
}

#neubar .dropdown-menu {
  background: #b1ec8e
}

a.navbar-brand {
  color: #a9a4a4;
  height: 40%;
}

.btn-custom {
  background-color: #54ad22;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-custom:hover {
  background-color: #3c7c19;
}
