<div class="white-box"></div>
<div class="container">
    <img ngSrc="assets/images/editar.jpg" alt="icono" height="350" width="500">
    <div class="d-flex justify-content-between w-75">
        <span></span>
        <a mat-raised-button color="warn" routerLink="/user-admin">Volver</a>
    </div>
    <h1 class="mt-2">Editar Usuario</h1>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input type="hidden" formControlName="id" id="id" class="form-control" [value]=this.id>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="userName" id="userName" type="text" matInput>
                <div *ngIf="f['userName'].touched && f['userName'].invalid" class="alert alert-danger">
                    <div *ngIf="f['userName'].errors?.['required']">*Nombre es requerido.</div>
                    <div *ngIf="f['userName'].errors?.['pattern']">*El nombre sólo puede contener letras.</div>
                    <div *ngIf="f['userName'].errors?.['maxlength']">*El nombre debe tener menos de 255 caracteres
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="userSurname" id="userSurname" type="text" matInput>
                <div *ngIf="f['userSurname'].touched && f['userSurname'].invalid" class="alert alert-danger">
                    <div *ngIf="f['userSurname'].errors?.['required']">*Apellido es requerido.</div>
                    <div *ngIf="f['userSurname'].errors?.['pattern']">*El apellido sólo puede contener letras.</div>
                    <div *ngIf="f['userSurname'].errors?.['maxlength']">*El apellido debe tener menos de 255
                        caracteres</div>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" id="email" type="text" matInput>
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors?.['required']">*El email es requerido.</div>
                    <div *ngIf="f['email'].errors?.['pattern']">*Formato de email incorrecto</div>
                    <div *ngIf="f['email'].errors?.['maxlength']">*El email debe tener menos de 255 caracteres</div>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" id="password" type="password" matInput>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                    <div *ngIf="f['password'].errors?.['required']">*Contraseña es requerido.</div>
                    <div *ngIf="f['password'].errors?.['pattern']">*La contraseña debe contener al menos una letra
                        minúscula,
                        una letra mayúscula y un número.
                    </div>
                    <div *ngIf="f['password'].errors?.['minlength']">*La contraseña debe tener al menos 8 caracteres
                    </div>
                    <div *ngIf="f['password'].errors?.['maxlength']">*La contraseña debe tener menos de 255
                        caracteres</div>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" id="rol">
                    <mat-option value="ADMIN">Administrador</mat-option>
                    <mat-option value="NORMAL_USER">Usuario</mat-option>
                </mat-select>
                <div *ngIf="f['rol'].touched && f['rol'].invalid" class="alert alert-danger">
                    <div *ngIf="f['rol'].errors?.['required']">*Rol es requerido.</div>
                </div>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Enviar</button>
        </form>
    </div>
</div>