<div class="white-box"></div>
<div style="height: 500px; margin-top: 150px;" >
<h1>Bienvenido a tu Perfil de Usuario</h1>
<h2>Estos son tus datos:</h2>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Nombre:</h3>
      <p>{{ currentUser?.userName }}</p>
    </div>
    <div class="col-6">
        <h3>Apellido:</h3>
        <p>{{ currentUser?.userSurname }}</p>
      </div>
    <div class="col-6">
      <h3>Email:</h3>
      <p>{{ currentUser?.email }}</p>
    </div>
  </div>
  <a  class="btn btn-custom"  style="font-size: 20px;" routerLink="/update-user" >Modificar Datos</a>
</div>
</div>
