<div class="white-box"></div>
<div class="container">
    <div style="height: 70vh;margin-top: 50px">
        <img ngSrc="assets/images/puntuaciones.webp" alt="icono" height="300" width="500">
        <div class="form">
            <div class="title mt-3">
                <h4>¿Qué puntuación le das a esta receta?</h4>
                <a mat-raised-button color="warn" routerLink="/recipes/detail/{{ idRecipe }}">Volver</a>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column justify-content-center">

                <mat-form-field appearance="outline">
                    <mat-label>Puntuación</mat-label>
                    <input formControlName="rateValue" id="rateValue" type="text" matInput>
                    <div *ngIf="f['rateValue'].touched && f['rateValue'].invalid" class="alert alert-danger">
                        <div *ngIf="f['rateValue'].errors?.['required']">*La puntuación es requerida</div>
                        <div *ngIf="f['rateValue'].errors?.['min']">*La puntuación debe ser mayor o igual a 0</div>
                        <div *ngIf="f['rateValue'].errors?.['max']">*La puntuación debe ser menor o igual a 10</div>
                        <div *ngIf="f['rateValue'].errors?.['pattern']">*Sólo se admiten números</div>
                    </div>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Enviar</button>
            </form>
        </div>
    </div>
</div>