<div class="white-box"></div>

<div class="form-div">
    <div class="form-group row">
        <form class="form" [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
            <div class="form-group row">
                <div class="col-md-6 ">
                    <label for="recipeName">Nombre de la Receta:</label>
                    <input formControlName="recipeName" id="recipeName" type="text" placeholder="Nombre de la receta"
                        class="form-control">
                    <div *ngIf="f['recipeName'].touched && f['recipeName'].invalid" class="alert alert-danger">
                        <div *ngIf="f['recipeName'].errors?.['required']">*Nombre es requerido.</div>
                        <div *ngIf="f['recipeName'].errors?.['pattern']">*El nombre sólo puede contener letras.</div>
                        <div *ngIf="f['recipeName'].errors?.['maxlength']">*El nombre debe tener menos de 255 caracteres
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <label for="description">Descripción:</label>
                    <textarea formControlName="description" id="description" class="form-control"
                        placeholder="Descripción de la receta"></textarea>
                    <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                        <div *ngIf="f['description'].errors?.['required']">*La descripción de la receta es requerida.
                        </div>
                        <div *ngIf="f['description'].errors?.['maxlength']">*La descripción debe tener menos de 255
                            caracteres
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <label for="photo">Foto:</label>
                    <input formControlName="photo" id="photo" type="text" placeholder="Nombre del archivo de la foto"
                        class="form-control">
                    <div *ngIf="f['photo'].touched && f['photo'].invalid" class="alert alert-danger">
                        <div *ngIf="f['photo'].errors?.['required']">*La foto de la receta es requerida.</div>
                        <div *ngIf="f['photo'].errors?.['maxlength']">*El nombre de la foto debe tener menos de 255
                            caracteres
                        </div>
                    </div>
                </div>
                <div class="select-wrapper">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ingrediente</mat-label>
                        <input type="text" matInput [formControl]="ingredientControl" [matAutocomplete]="auto">
                        <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                                {{ ingredient.ingredientName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <input #quantity type="number" placeholder="Cantidad">
                    <input #unitMeasure type="text" placeholder="Unidad de medida">
                    <button type="button"
                        (click)="addIngredient(ingredientControl.value, quantity.value, unitMeasure.value)">Agregar
                        ingrediente</button>
                </div>
                <div class="select-wrapper">
                    <mat-form-field>
                        <mat-label>Categorías</mat-label>
                        <mat-select [formControl]="selectedCategoryControl">
                            @for (category of categoriesFromAPI; track categoriesFromAPI) {
                            <mat-option [value]="category">{{category.categoryName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <button type="button" (click)="addCategory(selectedCategoryControl.value!)">Agregar
                        categoría</button>
                </div>
                <div formArrayName="recipeIngredients">
                    <div *ngFor="let ingredientCtrl of recipeIngredientsFromForm.controls; index as i"
                        [formGroupName]="i">
                        <span>Ingrediente: {{ ingredientCtrl.value.ingredient.ingredientName }} </span>
                        <span> Cantidad: {{ ingredientCtrl.value.quantity }} </span>
                        <span> Unidad de medida: {{ ingredientCtrl.value.unitMeasure }}</span>
                        <button type="button" (click)="removeIngredient(i)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                <div formArrayName="categories">
                    <div *ngFor="let categoryCtrl of categoriesFromForm.controls; index as i" [formGroupName]="i">
                        <p>Categoría: {{ categoryCtrl.value.categoryName }}</p>
                    </div>
                </div>
            </div>
            <button type="submit">Crear Receta</button>
        </form>
    </div>